html, body {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

#browserSupport {
    display: none;
    margin: 50px 0 0 0;
    text-align: center;
}

.container {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}

#weatherWrap {
    margin: 30px auto;
}

.weatherBlock {
    display: inline-block;
    width: 160px;
    height: 185px;
    margin: 5px;
    box-shadow: 1px 2px 3px #ccc;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 30px;
}

.info {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: #000;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    color: #fff;
}

.info:hover {
    cursor: pointer;
    opacity: 0.5;
}

#detailsWrap {
    display: none;
}